{% extends 'base.html' %}

{% block content %}

<form method="post">
    <div class="form-group">
        <label for="titulo">Título</label>
        <input required type="text" name="titulo" placeholder="Título do livro" class="form-control"
            value=""></input> <!--{{ request.form['titulo'] }}-->
    </div>
    <div class="form-group">
        <label for="autor">Autor(a)</label>
        <input required type="text" name="autor" placeholder="Autor(a) do livro" class="form-control"
            value=""></input> <!--{{ request.form['autor'] }}-->
    </div>

    <div class="form-group">
        <label for="frase">Frase</label>
        <input required type="text" name="frase" placeholder="Alguma frase marcante..." class="form-control"
            value=""></input> <!--{{ request.form['frase'] }}-->
    </div>

    <div class="form-group">
        <label for="link_imagem">Link da imagem</label>
        <input required type="text" name="link_imagem" placeholder="Link da imagem" class="form-control"
            value=""></input> <!--{{ request.form['link_imagem'] }}-->
    </div>

    <div class="form-group">
        <label for="conteudo">Conteúdo</label>
        <textarea name="conteudo" placeholder="Conteúdo do post"
            class="form-control"></textarea> <!--{{ request.form['conteudo'] }}-->
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Criar post</button>
    </div>
</form>
<style>
    label {
        font-size: 20px;
        font-weight: 100;
    }
    .btn{
        border: none;
        background-color: #f868ba;
        color: white;
    }

    .btn:hover{
        background-color: #f891cd;
    }
</style>
{% endblock %}